# Dependencies
node_modules

# Build
build
tsconfig.tsbuildinfo

# Git
.git
.gitignore

# Readme
README.md

# License
LICENSE

# Docker
Dockerfile
.dockerignore

# Vscode
.vscode

# Tests
src/setupTests.ts

# Enviroment
.env
.docker.env

# Linting
.eslintrc.js
.stylelintrc.json
.editorconfig

# Other scripts
run.sh
