# API
api.http

# Logs
logs
*.log

# Build
build

# Node modules
node_modules

# Env
.env

# Docker
Dockerfile
docker-compose.yaml

# Bower
bower_components

# Sublime
*.sublime*

# Sketch
sketch

# Vscode
.vscode/launch.json

# Other files
psd
thumb
.DS_*
**/*.backup.*
**/*.back.*

# Local Netlify folder
.netlify
