# Logs
logs
*.log

# Build
build
dist

# Node modules
node_modules

# Env
.env
.docker.env

# Vscode
launch.json

# Other files
.DS_*

# Local Netlify folder
.netlify

# Typescript
tsconfig.tsbuildinfo
